<!-- your html code here -->
<div class="container-fluid bg-white p-5">
    <div class="row justify-content-center d-flex gap-5 p-5">
        <div class="col-5">
            <h1 class="font-weight-bold">This First Heading <span class="text-secondary">Will Catch Your Eye</span></h1>
            <p class="pt-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate animi veniam nihil reiciendis ducimus libero unde eos, assumenda veritatis asperiores corrupti alias culpa rerum voluptates quae eligendi a tempore. Veniam.
            </p>
        </div>
        <div class="col-5 rounded-circle w-50">
            <img class="w-50 rounded-circle" src="https://img.artpal.com/525582/7-23-6-28-2-2-24m.jpg" alt="">
        </div>
    </div>
</div>